@import "src/styles/mixins";

.chainlink-oracles {
  padding: 48px 20px;
  margin: auto;
  max-width: 1200px;

  @include respond(md) {
    padding: 48px 10px;
  }
}
.heading-title {
  text-align: center;
}
