@import "src/styles/mixins";

.investors {
  padding: 0 20px 80px 20px;
  z-index: 2;
  position: relative;
  background-color: rgba(14, 14, 21, 0.8);

  @include respond(md) {
    padding: 30px 15px;
  }

  &-title {
    font-weight: 500;
    font-size: 40px;
    color: #fff;
    margin: 0 auto 40px auto;
    max-width: 1300px;

    @include respond(md) {
      font-size: 26px;
      margin: 0 0 10px 0;
    }
  }

  &-content {
    display: flex;
    justify-content: center;
    max-width: 1300px;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
    gap: 16px;

    @include respond(md) {
      gap: 6px;
    }

    &-item {
      max-height: 37px;
      padding: 24px 32px;
      border-radius: 36px;
      background: rgba(37, 113, 234, 0.10);

      backdrop-filter: blur(9px);

      @include respond(md) {
        transform: scale(0.8);
      }
    }
  }
}
