@import "src/styles/mixins";

.swap-chart {
  position: relative;
  z-index: 1;
  max-width: 1300px;
  margin: 16px auto;

  &-content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 36px;
    border: 1px solid rgba(255, 255, 255, 0.10);
    background: linear-gradient(135deg, #191b2d 0%, rgba(11, 10, 22, 0.7) 100%);;
    padding: 24px;

    &-title {
      font-weight: 400;
      font-size: 14px;
      line-height: 160%;
      letter-spacing: -0.03em;
      color: #fff;
    }
    &-subtitle {
      font-weight: 600;
      font-size: 26px;
      line-height: 160%;
      /* identical to box height, or 42px */

      letter-spacing: -0.03em;

      color: #fff;
    }

    &-desc {
      font-weight: 400;
      font-size: 11px;
      line-height: 160%;
      /* identical to box height, or 18px */

      letter-spacing: -0.03em;

      color: #fff;
    }

    &-scroll {
      width: 100%;
      @include respond(md) {
        overflow: scroll;
      }
    }

    @include respond(md) {
      align-items: flex-start;
    }
  }

}
