@import "src/styles/mixins";

.pool-item {
  position: relative;
  border-radius: 36px;
  background: linear-gradient(135deg, #191b2d 0%, rgba(11, 10, 22, 0.7) 100%);;
  padding: 20px;
  width: 229px;
  margin-right: 20px;
  text-decoration: none;
  margin-bottom: 20px;

  @include respond(md) {
    width: 100%;
    margin-right: 0;
  }

  &.hide {
    display: none;
  }


  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;

    &-img {
      width: 34px;
    }

    &-title {
      font-weight: 600;
      font-size: 14px;
      line-height: 160%;
      text-align: right;
      letter-spacing: -0.03em;
      color: #fff;
    }
  }

  &-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &-block {
      width: 50%;
      text-align: left;

      &:first-child  {
        margin-bottom: 12px;
      }

      &:nth-child(even) {
        text-align: right;
      }

      &-label {
        font-weight: 600;
        font-size: 12px;
        line-height: 160%;
        letter-spacing: -0.03em;
        color: #fff;
        opacity: 0.7;
        margin: 0 0 2px 0;
      }

      &-value {
        font-weight: 600;
        font-size: 18px;
        margin: 0;
        line-height: 160%;
        letter-spacing: -0.03em;
        color: #fff;
      }
    }
  }
}
