@import "src/styles/mixins";

.map {
  width: 100%;
  z-index: 100;
  //background-color: rgba(219, 174, 255, 0.16);
  border-radius: 36px;
  overflow: visible;

  path {
    fill: #f2c9ff;
  }

  .marker {
    cursor: pointer;
    path {
      fill: #F23D4C;
      transition: transform 0.2s ease;
    }
  }

  .marker-label {
    opacity: 0;
    transition: opacity 0.2s ease;
    pointer-events: none;
  }

  .marker-group:hover {
    .marker-label {
      opacity: 1;
    }
  }
}

